@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
    width: 100vw;
    height: 100vh;
    background-color: rgb(68, 57, 57);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
*{
    margin: 0;
    padding: 0;
}